<template>
  <img :width='size' alt='YMath.io' class='logo-img' src='../static/icon.png' />
</template>
<script>
export default {
  props: {
    size: {
      type: Number,
      default: 40
    }
  }
}
</script>
<style>
.logo-img {
  border-radius: 7px;
}
</style>
