<template>
  <div>
    <v-navigation-drawer
      v-model='drawer'
      app
      clipped

      fixed
    >
      <h3 class='pt-4 px-4'>{{ chapter.displayName }}</h3>
      <v-list
      nav
      >
        <v-list-item
          v-for='lesson in lessons'
          two-line
          link
          :to='`/courses/${$store.state.route.course.id}/${$store.state.route.chapter.id}/${lesson.id}`'
          :key='lesson.id'
        >
          <v-list-item-content>
            <v-list-item-title>{{lesson.displayName}}</v-list-item-title>
            <v-list-item-subtitle>{{lesson.description}}</v-list-item-subtitle>
          </v-list-item-content>
        </v-list-item>
      </v-list>
    </v-navigation-drawer>

        <nuxt-child />
  </div>

</template>

<script lang='ts'>
// also add the navigation drawer
// a container for chapter content
import { IChapter } from '~/definitions/content'

export default {
  // this is where we fetch data about the lessons and the active one
  // @ts-ignore
  async asyncData({ $content, params, store, error }) {
    console.log()
    const [chapter]: IChapter[] = (await $content('courses', params.course, 'chapters', params.chapter).fetch().catch(() => {
      error({ statusCode: 404, message: 'Course not found' })
    }))
    store.commit('setChapter', chapter)
    // now we need to fetch lessons
    const lessons = await $content('courses', params.course, 'chapters', params.chapter, 'lessons').sortBy('index').fetch();
    return { chapter, lessons }
  },
  computed:{
    drawer: {
      get: function():boolean{
        // @ts-ignore
        return this.$store.state.drawer
      },
      set: function(val:boolean){
        // @ts-ignore
        this.$store.commit('setDrawer', val);
      }
    }
  }

}
</script>

<style scoped>

</style>
