<template>
  <v-main>
    <v-container>
      <div v-if='fetched'>
        <h1 class='my-3'>Welcome to {{ course.displayName }}!</h1>
        <nuxt-content :document='course' />
        <h2 class='mt-4 mb-2'>Chapters</h2>
        <v-list>
          <v-list-item
            v-for='chapter of chapters'
            :key='chapter.id'
            two-line
            link
            :to='`/courses/${course.id}/${chapter.id}`'
          >
            <v-list-item-content>
              <v-list-item-title>
                {{ chapter.displayName }}
              </v-list-item-title>
              <v-list-item-subtitle>
                {{ chapter.description }}
              </v-list-item-subtitle>
            </v-list-item-content>
          </v-list-item>
        </v-list>
      </div>
    </v-container>
  </v-main>


</template>

<script>
// a list of all the chapters in the subject
export default {
  name: 'index',
  async asyncData({ $content, params, error }) {
    const [course] = await $content('courses', params.course).fetch().catch((err) => {
      error({ statusCode: 404, message: 'Course not found' })
    })
    let chapters = []
    for (let chapter of course.chapters) {
      const [c] = await $content('courses', params.course, 'chapters', chapter).only(['displayName', 'description', 'id']).fetch()
      chapters.push(c)
    }
    return { course, fetched: true, chapters }
  }
}
</script>

<style scoped>

</style>
