<template>
  <div>
    <h1 class='mb-2'>{{ lesson.displayName }}</h1>
    <p class='text--secondary'>{{lesson.description}}</p>
    <nuxt-content :document='lesson'></nuxt-content>
  </div>
</template>

<script>
// use  nuxt-content to display course material
export default {
  name: 'index',
  async asyncData({ $content, params, error }) {
    const [lesson] = await $content('courses', params.course, 'chapters', params.chapter, 'lessons' )
      .where({id: params.lesson})
      .fetch().catch((err) => {
      error({ statusCode: 404, message: 'Lesson not found' })
    })
    return { lesson }
  }
}
</script>

<style>
.nuxt-content {
  color: var(--v-text-base)
}
</style>
