@media (min-width: 768px) {
  .special.card {
    width: 30vw;
    height: 24em;
  }

  .graph {
    height: 80vw;
    width: 80vw;
  }
}

@media (max-width: 768px) {

  .graph {
    height: 80vw;
    width: 80vw;
  }
}

@media (min-width: 992px) {
  .special.card {
    width: 18rem;
    height: 24em;
  }
  .graph {
    height: 500px;
    width: 500px;
  }
}

@media (max-width: 992px) {
  .graph {
    height: 80vw;
    width: 80vw;
  }
}

.graph {
  margin-left: auto; /* Automatic margin from left */
  margin-right: auto; /* Automatic margin from right */
  display: block
}

.nuxt-content {
  color: var(--v-text-base)
}
