<template>
  <v-app dark>
    <v-app-bar
      app
      clipped-left
      elevate-on-scroll
    >
      <v-app-bar-nav-icon class='d-lg-none' @click.stop='$store.commit("toggleDrawer")' />
      <Logo />
      <v-toolbar-title>
        <v-breadcrumbs :items='$store.getters.breadcrumbs' large class='d-none d-sm-inline' />
        <v-breadcrumbs :items='$store.getters.breadcrumbs'  class='d-inline d-sm-none' />
      </v-toolbar-title>
      <v-spacer />
      <v-switch v-model='$vuetify.theme.dark' class='mt-4' color='grey darken-1' inset
                prepend-icon='mdi-theme-light-dark' />
    </v-app-bar>
    <nuxt-child />
    <v-footer
      app
      fixed
    >
      <span>&copy; {{ new Date().getFullYear() }} Saumya Singhal</span>
    </v-footer>
  </v-app>
</template>

<script>
// a container for course material
export default {
  async asyncData({ $content, params, error, store }) {
    const breadcrumbs = []
    const [course] = await $content('courses', params.course).fetch().catch((err) => {
      error({ statusCode: 404, message: 'Course not found' })
    })
    store.commit('setCourse', course);
    return { course, fetched: true }
  }
}
</script>

<style scoped>

</style>
