<template>
  <div>
    <v-tabs grow>
      <v-tab-item>lesson</v-tab-item>
    </v-tabs>
    <v-main>
      <v-container>
        <nuxt-child />
        <!-- previous and next navigation -->
        <v-row class='mx-3 mb-3'>
          <v-btn text v-if='prev' :to='`/courses/${$store.state.route.course.id}/${$store.state.route.chapter.id}/${prev.id}`'
                 color='primary'>
            <v-icon left>mdi-arrow-left</v-icon>
            {{ prev.displayName }}
          </v-btn>
          <v-spacer />
          <v-btn v-if='next' :to='`/courses/${$store.state.route.course.id}/${$store.state.route.chapter.id}/${next.id}`' text
                 color='primary'>{{ next.displayName }}
            <v-icon right>mdi-arrow-right</v-icon>
          </v-btn>

        </v-row>
      </v-container>
    </v-main>
  </div>

</template>

<script>
// a container for the lesson content
export default {
  async asyncData({ $content, params, store }) {
    const [lesson] = await $content('courses', params.course, 'chapters', params.chapter, 'lessons', params.lesson).fetch().catch((err) => {
      error({ statusCode: 404, message: 'Course not found' })
    })
    // surround
    const [prev, next] = await $content('courses', params.course, 'chapters', params.chapter, 'lessons').sortBy('index').surround(params.lesson).fetch()
    store.commit('setLesson', lesson)
    return { lesson, prev, next }
  }
}
</script>

<style scoped>

</style>
