<template>
  <v-main>
    <v-container>

    <nuxt-content :document='chapter' />

    </v-container>
  </v-main>
</template>

<script>
// a list of all the lessons in the chapter, and provide a description
export default {
  name: 'index',
  async asyncData({ $content, params }) {
    const [chapter] = await $content('courses', params.course, 'chapters', params.chapter).fetch().catch((err) => {
      error({ statusCode: 404, message: 'Chapter not found' })
    })
    return { chapter }
  }
}
</script>

<style scoped>

</style>
